/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .steamLoader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    display: flex;
    z-index: 9999999;
  }
  